<!DOCTYPE html>


<html>

<head>
    <title>Registrations - APS Dashboard</title>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./include-admin/style.ejs') %>
        <style>
            @media (min-width: 768px) {
                .form-horizontal .control-label {
                    padding-top: 7px;
                    margin-bottom: 0;
                    text-align: left;
                    width: 100%;
                }
            }
        </style>
</head>


</head>

<body class="hold-transition skin-blue sidebar-mini">



    <!-- TOP NAVBAR -->
    <div class="wrapper">

        <%- include('./include-admin/header.ejs') %>
            <!-- Content Wrapper. Contains page content color white-->
            <div class="content-wrapper">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/admin/gallery">List</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modal-default">Create</a>
                    </li>
                </ul>
                <section class="content">
                    <h2 class="page-header">Image Gallery</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Image Gallery</h3>
                                </div>
                                <% if(error_msg.length>0) {%>
                                    <h3 style="color: red; margin-left: 5px;">
                                        <%= error_msg %>
                                    </h3>
                                    <% } %>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="box-group" id="accordion">
                                                <% for(let i=0;i<images.length;i++){%>
                                                    <div class="panel box box-primary">
                                                        <div class="box-header with-border">
                                                            <h4 class="box-title">
                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
                                                                    <%= images[i].altText %>
                                                                </a>
                                                                <a href="/admin/gallery/delete/<%= images[i]._id %>" style="margin-left: 15px;" class="btn btn-primary btn-danger">Delete</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse<%= i %>" class="panel-collapse collapse in">
                                                            <div class="box-body" id="<%= i %>">
                                                                <img src="/<%= images[i].imageUrl %>" style="width: 100%; height: 200px;" alt="<%=images[i].altText%>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%}%>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>

                    </div>
                </section>
                <section class="content">
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Image Gallery</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/gallery/add" enctype="multipart/form-data" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Alternative Text</label>
                                            <input type="text" class="form-control" required name="altText" id="exampleInputPassword1" placeholder="Alt Text">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Image Gallery</label>
                                            <input type="file" id="exampleInputFile" required name="photo">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                </section>
                <!-- /.content -->










            </div>
            <!-- / Content Wrapper. color white -->

            <!-- Control Sidebar -->

            <footer class="main-footer">
                <strong>Copyright &copy; 2020 <a>SoftEra Inc.</a></strong> - All rights reserved.
                <div class="pull-right hidden-xs">
                </div>
            </footer>


    </div>
    <!-- ./wrapper -->


    <%- include('./include-admin/scripts.ejs') %>
        <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>

        <script>
            document.getElementById('navgallery').classList.add('active');
        </script>
</body>

</html>