<!DOCTYPE html>


<html>

<head>
    <title>Registrations - APS Dashboard</title>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./include-admin/style.ejs') %>
        <style>
            @media (min-width: 768px) {
                .form-horizontal .control-label {
                    padding-top: 7px;
                    margin-bottom: 0;
                    text-align: left;
                    width: 100%;
                }
            }
        </style>
</head>


</head>

<body class="hold-transition skin-blue sidebar-mini">



    <!-- TOP NAVBAR -->
    <div class="wrapper">

        <%- include('./include-admin/header.ejs') %>
            <!-- Content Wrapper. Contains page content color white-->
            <div class="content-wrapper">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/admin/news">List</a>
                    </li>
                    <li>
                        <a href="/admin/news/create/">Create</a>
                    </li>
                </ul>
                <section class="content">
                    <h2 class="page-header">News</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">News</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <% for(let i=0;i<news.length;i++){%>
                                            <div class="panel box box-primary">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
                                                            <%= news[i].heading %>
                                                        </a>
                                                        <a href="/admin/news/edit/<%= news[i]._id %>" style="margin-left: 15px;" class="btn btn-primary">Edit</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse<%= i %>" class="panel-collapse collapse in">
                                                    <div class="box-body" id="<%= i %>">
                                                        <%- news[i].news %>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>

                    </div>
                    <!-- /.row -->
                    <!-- END ACCORDION & CAROUSEL-->
                </section>











            </div>
            <!-- / Content Wrapper. color white -->

            <!-- Control Sidebar -->

            <footer class="main-footer">
                <strong>Copyright &copy; 2020 <a>SoftEra Inc.</a></strong> - All rights reserved.
                <div class="pull-right hidden-xs">
                </div>
            </footer>


    </div>
    <!-- ./wrapper -->


    <%- include('./include-admin/scripts.ejs') %>
        <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
        <script>
            function clicked(u) {
                location.replace(`/admin/news/edit/${u}`);
            }
        </script>
        <script>
            document.getElementById('navnews').classList.add('active');
        </script>
</body>

</html>