<!DOCTYPE html>
<html>

<head>
    <title>Registrations - APS Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./include-admin/style.ejs') %>
        <style>
            label {
                display: block;
                text-align: left;
            }
        </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">



    <!-- TOP NAVBAR -->
    <div class="wrapper">
        <%- include('./include-admin/header.ejs') %>
            <div class="content-wrapper">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="/admin/survey/">List</a>
                    </li>
                    <li class="active">
                        <a href="/admin/survey/create">Create</a>
                    </li>
                    <li>
                        <a href="/admin/survey/edit">Edit</a>
                    </li>
                    <li>
                        <a href="/admin/survey/csv">Export</a>
                    </li>
                </ul>


                <section class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="text-center col-md-8 col-md-offset-2">
                            <!-- general form elements -->
                            <div class="box box-primary" style="background-color: #ebeff3;">
                                <% if (error_msg.length>0) { %>
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                        <%= error_msg %>
                                    </div>
                                    <% } %>
                                        <form action="/admin/survey/create" method="POST" style="padding: 10px;" enctype="multipart/form-data">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <div class="form-group">
                                                <label for="email">Email
                        
                          <strong style="color: red">&#42;</strong>
                    </label>
                                                <div>

                                                    <input class="form-control" id="email" name="email" required type="text" value="">


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="courses">Course
                        &nbsp;
                    </label>
                                                <div>

                                                    <select class="form-control" data-role="select2" id="departments" multiple name="courses">
                                                    <% courses.forEach(c => { %>
                                                        <option value="<%= c.courseName %>"><%= c.courseName %> (INR <%= c.coursePrice %>)</option>
                                                    <% }) %>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="college">College
                        &nbsp;
                    </label>
                                                <div>

                                                    <select class="form-control" id="college" name="college">
                                                    <% colleges.forEach(e => { %>
                                                        <option value="<%= e.collegeName %>"><%= e.collegeName %></option>
                                                    <% }) %>
                                                </select>


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="name">Name<strong style="color: red">&#42;</strong>
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="name" name="name" type="text" value="">


                                                </div>

                                            </div>







                                            <div class="form-group">
                                                <label for="father_name">Father Name
                        
                          
                    </label>
                                                <div>

                                                    <input class="form-control" id="father_name" name="fatherName" required type="text" value="">


                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="date-of-birth">Date Of Birth
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="date_of_birth" name="dob" type="date" value="">


                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="address">Address
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="address" name="address" type="text" value="">


                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="state">State
                        &nbsp;
                    </label>
                                                <div>

                                                    <select class="form-control" data-allow-blank="1" data-role="select2" id="state" name="state">
                                                    <option value="NONE"></option>
                                                    <option value="ANDHRA PRADESH">Andhra Pradesh</option>
                                                    <option value="ARUNACHAL PRADESH">Arunachal Pradesh</option>
                                                    <option value="ASSAM">Assam</option>
                                                    <option value="BIHAR">Bihar</option>
                                                    <option value="CHHATTISGARH">Chhattisgarh</option>
                                                    <option value="GOA">Goa</option>
                                                    <option value="GUJRAT">Gujarat</option>
                                                    <option value="HARAYANA">Haryana</option>
                                                    <option value="HIMACHAL PRADESH">Himachal Pradesh</option>
                                                    <option value="JAMMU AND KASHMIR">Jammu and Kashmir</option>
                                                    <option value="JHARKHAND">Jharkhand</option>
                                                    <option value="KARNATAKA">Karnataka</option>
                                                    <option value="KERALA">Kerala</option>
                                                    <option value="MADHYA PRADESH">Madhya Pradesh</option>
                                                    <option value="MAHARASHTRA">Maharashtra</option>
                                                    <option value="MANIPUR">Manipur</option>
                                                    <option value="MEGHALAYA">Meghalaya </option>
                                                    <option value="MIZORAM">Mizoram </option>
                                                    <option value="NAGALAND">Nagaland</option>
                                                    <option value="ODISHA">Odisha</option>
                                                    <option value="PUNJAB">Punjab</option>
                                                    <option value="RAJASTHAN">Rajasthan</option>
                                                    <option value="SIKKIM">Sikkim</option>
                                                    <option value="TAMIL NADU">Tamil Nadu</option>
                                                    <option value="TELANGANA">Telangana</option>
                                                    <option value="TRIPURA">Tripura</option>
                                                    <option value="UTTAR PRADESH">Uttar Pradesh</option>
                                                    <option value="UTTARAKHAND">Uttarakhand</option>
                                                    <option value="WEST BENGAL">West Bengal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="dist">District
                        &nbsp;
                    </label>
                                                <div>
                                                    <input class="form-control" id="dist" name="district" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pincode">Tehsil
                        &nbsp;
                    </label>
                                                <div>
                                                    <input class="form-control" id="pincode" name="tehsil" type="text" value="0">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pincode1">Pincode
                        &nbsp;
                    </label>
                                                <div>
                                                    <input class="form-control" id="pincode1" name="pincode" type="number" value="">
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="contact_no">Contact No.
                        
                          <strong style="color: red">&#42;</strong>
                    </label>
                                                <div>

                                                    <input class="form-control" id="contact_no" name="contact" required type="text" value="">


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="height">Height<strong style="color: red">&#42;</strong>
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="height" name="height" type="text" value="0.0">


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="weight">Weight<strong style="color: red">&#42;</strong>
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="weight" name="weight" type="text" value="0.0">


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="blood_group">Blood Group
                        &nbsp;
                    </label>
                                                <div>

                                                    <select class="form-control" data-allow-blank="1" data-role="select2" id="blood_group" name="bloodGroup"><option value="NONE"> </option><option value="A+">A+</option><option value="B+">B+</option><option value="AB+">AB+</option><option value="O+">O+</option><option value="A-">A-</option><option value="B-">B-</option><option value="AB-">AB-</option><option value="O-">O-</option></select>


                                                </div>

                                            </div>


                                            <div class="form-group">
                                                <label for="tenth_university">10th Board<strong style="color: red">&#42;</strong>
                        &nbsp;
                    </label>
                                                <div>
                                                    <select name="board10" class="form-control" id="tenth_university">
                                                <option value="NONE">Select Board</option>
                                                <option value="CBSE" id="CBSE">CBSE</option>
                                                <option value="ICSE" id="ICSE">ICSE</option>
                                                <option value="UP BOARD" id="UP BOARD">UP BOARD</option>
                                                <option value="OTHER" id="OTHER">OTHER</option>
                                            </select>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="university">10th year
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="university" name="year10" type="text" maxlength="4" minlength="4" value="">


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="tenth_university">12th Board<strong style="color: red">&#42;</strong>
                        &nbsp;
                    </label>
                                                <div>
                                                    <select name="board12" class="form-control" id="tenth_university">
                                                <option value="NONE">Select Board</option>
                                                <option value="CBSE" id="CBSE">CBSE</option>
                                                <option value="ICSE" id="ICSE">ICSE</option>
                                                <option value="UP BOARD" id="UP BOARD">UP BOARD</option>
                                                <option value="OTHER" id="OTHER">OTHER</option>
                                            </select>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="university">12th year
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="university" name="year12" type="text" maxlength="4" minlength="4" value="">


                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="tenth_subject">Graduation Year
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="tenth_subject" name="graduationYear" type="text" maxlength="4" minlength="4" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tenth_subject">Graduation University
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="tenth_subject" name="graduationUniversity" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tenth_subject">Graduation Course
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="tenth_subject" name="graduationCourse" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tenth_subject">Received any specialized coaching if any?
                        &nbsp;
                    </label>
                                                <div>

                                                    <input class="form-control" id="tenth_subject" name="coaching" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="aaaa">Any Member in armed forces military/paramilatary/police
                        &nbsp;
                    </label>
                                                <div>
                                                    <select class="form-control" id="aaaa" name="forceMember">
                                                    <option value="NO">No</option>
                                                    <option value="YES">Yes</option>
                                                </select>

                                                </div>
                                                <div class="form-group">
                                                    <label for="aaaa1">Any Member in Government Services
                            &nbsp;
                        </label>
                                                    <div>
                                                        <select class="form-control" id="aaaa1" name="governmentMember">
                                                        <option value="NO">No</option>
                                                        <option value="YES">Yes</option>
                                                    </select>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="a1aaa1">Family Background others
                                &nbsp;
                            </label>
                                                        <div>
                                                            <select class="form-control" id="a1aaa1" name="other">
                                                            <option value="PRIVATE">PRIVATE</option>
                                                            <option value="BUSINESS">BUSINESS</option>
                                                            <option value="FARMER">FARMER</option>
                                                        </select>

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="photo">Student Photo
                        &nbsp;
                    </label>
                                                            <div>
                                                                <input class="form-control" id="photo" name="photo" type="file">
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <div>
                                                                <input type="submit" class="btn btn-primary" style="width: 100%;" value="Save" />
                                                            </div>
                                                        </div>
                                        </form>
                                        </div>
                                        </div>
                                        </div>
                </section>
                </div>
                <!-- / Content Wrapper. color white -->
                <footer class="main-footer">
                    <strong>Copyright &copy; 2020 <a>SoftEra Inc.</a></strong> - All rights reserved.
                    <div class="pull-right hidden-xs">
                    </div>
                </footer>


                </div>
                <!-- ./wrapper -->




                <%- include('./include-admin/scripts.ejs') %>
                    <script>
                        document.getElementById('email').addEventListener('keyup', () => {
                            setTimeout(() => {
                                const email = document.getElementById('email').value;
                                if (email.includes('@')) {
                                    fetch('/registeration/find/' + email)
                                        .then(data => {
                                            return data.json()
                                        }).then(jsonData => {
                                            document.getElementById('name').value = jsonData.user.name;
                                            document.getElementById('father_name').value = jsonData.user.fatherName;
                                            document.getElementById('date_of_birth').value = jsonData.user.dob;
                                            document.getElementById('address').value = jsonData.user.address;
                                            document.getElementById('dist').value = jsonData.user.district;
                                            document.getElementById('contact_no').value = jsonData.user.contact;
                                            document.getElementById('height').value = jsonData.user.height;
                                            document.getElementById('weight').value = jsonData.user.weight;
                                            document.getElementById(jsonData.user.college).selected = "true";
                                            document.getElementById(jsonData.user.bloodGroup).selected = "true";
                                        })
                                }
                            }, 1000);
                        })
                    </script>

                    <script>
                        document.getElementById('navsurvey').classList.add('active');
                    </script>

</body>

</html>