<!DOCTYPE html>


<html>

<head>
    <title>Registrations - APS Dashboard</title>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./include-admin/style.ejs') %>
</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <%- include('./include-admin/header.ejs') %>
            <div class="content-wrapper">

















                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/admin/user/">List</a>
                    </li>
                    <li>
                        <a href="/admin/user/create/">Create</a>
                    </li>
                    <li>
                        <a href="/admin/user/edit">Edit</a>
                    </li>
                    <li>
                        <a href="/admin/user/csv">Export</a>
                    </li>
                </ul>
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Users</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Active</th>
                                                <th>Confirmed At</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(!users) {%>
                                                <tr>
                                                    <td>
                                                        No users
                                                    </td>
                                                </tr>
                                                <%} else { %>
                                                    <% users.forEach(u => { %>
                                                        <tr>
                                                            <td>
                                                                <%= u.firstName %>
                                                            </td>
                                                            <td>
                                                                <%= u.lastName %>
                                                            </td>
                                                            <td>
                                                                <%= u.email %>
                                                            </td>
                                                            <td>True</td>
                                                            <td>
                                                                <%= u.confirmedAt %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                    <% } %>
                </section>











            </div>
            <!-- / Content Wrapper. color white -->

            <footer class="main-footer">
                <strong>Copyright &copy; 2020 <a>SoftEra Inc.</a></strong> - All rights reserved.
                <div class="pull-right hidden-xs">
                </div>
            </footer>


    </div>
    <!-- ./wrapper -->

    <%- include('./include-admin/scripts.ejs') %>
        <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
        <script>
            document.getElementById('navuser').classList.add('active');
        </script>

</body>

</html>